su-iot/nodered_flows/arangodb.json
[{"id":"a195bd7b.ad0b9","type":"tab","label":"arangodb","disabled":false,"info":""},{"id":"ac03685d.7f3c68","type":"[Arango]query","z":"a195bd7b.ad0b9","name":"","dbconfig":"e850a9bf.d15768","x":450,"y":160,"wires":[["53e974cc.4ba46c"]]},{"id":"abd88c30.cb727","type":"inject","z":"a195bd7b.ad0b9","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":320,"wires":[["8cc3f4ea.581c38"]]},{"id":"53e974cc.4ba46c","type":"debug","z":"a195bd7b.ad0b9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":720,"y":180,"wires":[]},{"id":"8cc3f4ea.581c38","type":"function","z":"a195bd7b.ad0b9","name":"","func":"msg.query = \"FOR doc IN temperature_data RETURN doc\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":160,"wires":[["ac03685d.7f3c68"]]},{"id":"e850a9bf.d15768","type":"dbconfig","name":"arangodb","url":"http://root:password@arangodb:8529","dbname":"iot_db"}]