su-iot/nodered_flows/coap.json
[{"id":"4a1982bc.290dbc","type":"tab","label":"coap","disabled":true,"info":""},{"id":"20a68760.c215c8","type":"coap in","z":"4a1982bc.290dbc","method":"GET","name":"temperature server1","server":"dbea0d25.5939","url":"/kitchen/temp","x":300,"y":120,"wires":[["aed65e59.a2c05"]]},{"id":"aed65e59.a2c05","type":"function","z":"4a1982bc.290dbc","name":"response","func":"msg.res.end(\"25\")\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":120,"wires":[[]]},{"id":"47383629.b552d8","type":"coap request","z":"4a1982bc.290dbc","method":"GET","observe":false,"multicast":false,"multicastTimeout":20000,"url":"coap://localhost/kitchen/temp","content-format":"text/plain","raw-buffer":false,"name":"client1","x":270,"y":200,"wires":[["136a1b7b.647535","1ee97bb.f378b84"]]},{"id":"136a1b7b.647535","type":"debug","z":"4a1982bc.290dbc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":510,"y":200,"wires":[]},{"id":"7898128d.c17f1c","type":"inject","z":"4a1982bc.290dbc","name":"make request","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":200,"wires":[["47383629.b552d8"]]},{"id":"1ee97bb.f378b84","type":"function","z":"4a1982bc.290dbc","name":"","func":"var res = msg.payload;\nif (res >= 25)\nmsg.payload = \"hot\"\nelse\nmsg.payload = \"cold\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":280,"wires":[["a6b9d5c0.bb3a78"]]},{"id":"a6b9d5c0.bb3a78","type":"debug","z":"4a1982bc.290dbc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":280,"wires":[]},{"id":"dbea0d25.5939","type":"coap-server","name":"coap_server","port":"5683"}]