su-iot/nodered_flows/flows2022.json
[{"id":"26c39f36.0f08f8","type":"tab","label":"InfluxDB","disabled":true,"info":""},{"id":"de65ae44.7852c8","type":"Stackhero-InfluxDB-v2-query","z":"26c39f36.0f08f8","server":"27107c42.5edd24","name":"","x":430,"y":120,"wires":[["b061e845.172478"]]},{"id":"b061e845.172478","type":"debug","z":"26c39f36.0f08f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":720,"y":200,"wires":[]},{"id":"5f8ca1ec.bc4068","type":"function","z":"26c39f36.0f08f8","name":"","func":"msg.topic = 'from(bucket: \"iot_bucket\") |> range(start: -1h)';return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":170,"y":200,"wires":[["de65ae44.7852c8"]]},{"id":"7fb8accc.cb0584","type":"inject","z":"26c39f36.0f08f8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":320,"wires":[["5f8ca1ec.bc4068"]]},{"id":"27107c42.5edd24","type":"Stackhero-InfluxDB-v2-Server","name":"influxdb","host":"influxdb","port":"8086","tls":false}]