su-iot/nodered_flows/influxdb.json
[{"id":"f6f2187d.f17ca8","type":"tab","label":"influxdb","disabled":false,"info":""},{"id":"17fde85a.5fe9d8","type":"debug","z":"f6f2187d.f17ca8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":620,"y":160,"wires":[]},{"id":"bec05c93.75643","type":"inject","z":"f6f2187d.f17ca8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":160,"wires":[["3f7385f2.a7a53a"]]},{"id":"a8ed1aba.cc4488","type":"Stackhero-InfluxDB-v2-query","z":"f6f2187d.f17ca8","server":"27107c42.5edd24","name":"","x":390,"y":260,"wires":[["17fde85a.5fe9d8"]]},{"id":"3f7385f2.a7a53a","type":"function","z":"f6f2187d.f17ca8","name":"","func":"msg.topic = 'from(bucket: \"iot_bucket\") |> range(start: -1h)';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":150,"y":280,"wires":[["a8ed1aba.cc4488"]]},{"id":"27107c42.5edd24","type":"Stackhero-InfluxDB-v2-Server","name":"influxdb","host":"influxdb","port":"8086","tls":false}]