su-iot/nodered_flows/mqtt.json
[{"id":"fa3d2b16.be7888","type":"tab","label":"mqtt","disabled":true,"info":""},{"id":"6c35c355.5b2acc","type":"mqtt out","z":"fa3d2b16.be7888","name":"publisher1 (kitchen)","topic":"iot/temp","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9a67ad52.dbf68","x":390,"y":120,"wires":[]},{"id":"26d4026d.261e8e","type":"inject","z":"fa3d2b16.be7888","name":"sensor (33)","props":[{"p":"payload"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"33","payloadType":"num","x":150,"y":120,"wires":[["6c35c355.5b2acc"]]},{"id":"3960fb57.676d14","type":"mqtt in","z":"fa3d2b16.be7888","name":"subscriber1","topic":"iot/temp","qos":"0","datatype":"auto","broker":"9a67ad52.dbf68","nl":false,"rap":true,"rh":0,"x":150,"y":200,"wires":[["75cf9237.814dec","1a1843b2.8909cc"]]},{"id":"75cf9237.814dec","type":"debug","z":"fa3d2b16.be7888","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":410,"y":200,"wires":[]},{"id":"112d991e.088907","type":"aedes broker","z":"fa3d2b16.be7888","name":"","mqtt_port":1883,"mqtt_ws_bind":"port","mqtt_ws_port":"","mqtt_ws_path":"","cert":"","key":"","certname":"","keyname":"","dburl":"","usetls":false,"x":270,"y":40,"wires":[[]]},{"id":"1a1843b2.8909cc","type":"ui_chart","z":"fa3d2b16.be7888","name":"plot temp","group":"ca72cbbc.00fc18","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":380,"y":300,"wires":[[]]},{"id":"9a67ad52.dbf68","type":"mqtt-broker","name":"mqtt_broker","broker":"localhost","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"ca72cbbc.00fc18","type":"ui_group","name":"Kitchen","tab":"33cee1ed.c46e5e","order":1,"disp":true,"width":"6","collapse":false},{"id":"33cee1ed.c46e5e","type":"ui_tab","name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":false}]